-e git+https://github.com/kids-first/kf-sphinx-docs-theme.git@815ce0bf305c390ff9575718220f324ca28e16cb#egg=sphinx_kidsfirst_theme
pytest==3.5.0
pytest-django==3.1.2
mock==2.0.0
pytest-mock==1.9.0
coverage==4.5.1
pytest-cov==2.5.1
codacy-coverage==1.3.11
pycodestyle==2.5.0
pytest-codestyle==1.4.0
doc8==0.8.0
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-websupport==1.1.2
